src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">

	<flow name="accounts" doc:id="ac7a9c11-dc54-409a-b939-0f28af0e9e0d" >
		<http:listener doc:name="HTTP: GET /accounts" doc:id="5237700e-e461-49ff-9925-a9eee436fbb7" config-ref="HTTP_Listener_config" path="/accounts"/>
		<http:request method="GET" doc:name="HTTP: GET /accounts" doc:id="68e3c5e1-4984-4186-af2d-58e3d0ffed67" config-ref="HTTP_Request_Accounts_API" path="${accounts.endpoint}">
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"Requester-ID" : "RJ45"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"type" : "personal"
}]]]></http:query-params>
		</http:request>
		<json:validate-schema doc:id="08f68aff-237f-4d7a-bba9-d31237e58f0b" schema="schemas/accountsSchema.json"/>
	
</flow>
	<flow name="flights" doc:id="dd9ee723-226c-4a97-ae7f-ddc8448f71ce" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="f9103d96-c52a-44fb-9155-87e29a484bbc" config-ref="HTTP_Listener_config" path="/flights">
			<http:response >
				<http:body ><![CDATA[#[payload.body]]]></http:body>
			</http:response>
		</http:listener>
		<wsc:consume doc:name="WSC: Get all flights" doc:id="f0118259-8070-4421-8da8-9ae17de4d90e" config-ref="Web_Service_Consumer_Config" operation="listAllFlights">
		</wsc:consume>
		<xml-module:validate-schema doc:id="5a4e87b0-ea7f-4188-bd1b-ead0e1834415" schemas="schemas/flightsSchema.xsd">
			<xml-module:content ><![CDATA[#[payload.body]]]></xml-module:content>
		</xml-module:validate-schema>
	
</flow>

</mule>
